.modal {
  position: fixed;
  display: flex;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  padding: 40px;
  width: 400px;
  margin:30px auto;
  /* height: 380px; */
  border: 1px solid silver;
    box-shadow: 1px 1px 1px silver;
  border-radius: 10px;
}

.close {
  color: #aaa;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.Rigister-header {
  display: flex;
}

.Register-signup-title {
  font-size: 30px;
  text-align: left;
  width: 100%;
}

.Register-text-box{
  margin-top: 20px;
}

.Register-msg{
  font-size: 20px;
  font-weight: bold;
  color:red;
  padding:5px
}

.Register-login{
  font-size: 20px;
  font-weight: bold;
  color:maroon;
  padding:5px
}