.Footer-container{
    display: flex;
    background-color: #3b120f;
    justify-content: space-around;;
    padding: 30px;
    text-align: left;
    color:silver
    /* width: 200px; */
}

.Footer-bottom{
    padding: 30px;
    background-color: #3b120f;
    color:silver;
}
